.row
  .page-header.text-center
    h2 Dashboard
      small &nbsp for internal database jobs only
.row
  .col-sm-offset-2.col-sm-8
    ul.nav.nav-pills.nav-justified
      li(ng-class="{'active': isTab('jobs')}")
        a(ng-click="changeTabTo('jobs')") Main Jobs
      li(ng-class="{'active': isTab('segments')}")
        a(ng-click="changeTabTo('segments')") Segments

// MAIN JOBS
.row(ng-show="isTab('jobs')")
  .col-md-offset-2.col-md-8
    .panel.panel-default(ng-repeat="job in job_data")
      .panel-heading
        .pull-right(ng-class="{'text-warning': job.status == 'Cancel' || job.status == 'Cancelled', " +
          "'text-danger': job.status == 'Missed', 'text-success': job.status == 'Done' }")
          i.fa.fa-wrench(ng-if='job.segmented')
          | &nbsp {{ job.status }} &nbsp
          span.badge {{ job.t_id }}
        h3.panel-title {{ job.name }}
      .panel-body
        p.text-muted {{ job.description }}
        .row
          .col-sm-10.col-xs-8
            dl.dl-horizontal
              dt(ng-if='job.repeat') Repeat type
              dd(ng-if='job.repeat') {{ job.repeat }}

              dt Job entry date
              dd {{ job.timestamp | date }}

              dt(ng-if='job.start_date') Execution Start date
              dd(ng-if='job.start_date') {{ job.start_date | date }}

              dt(ng-if='job.end_date') Execution Termination
              dd(ng-if='job.end_date') {{ job.end_date | date }}

              dt(ng-if='job.time') Time
              dd(ng-if='job.time') {{job.time | date : 'hh:mm a' }}
          .col-sm-2.col-xs-4
            ul.list-unstyled
              li(ng-if='job.count')
                h5
                  i.fa-fw.fa.fa-users.fa-lg &nbsp
                  | {{ job.count | number : 0 }}
              li(ng-if='job.file')
                h5
                  a(ng-href="{{ job.file }}", target='_blank')
                    i.fa-fw.fa.fa-database.fa-lg &nbsp
                    | Data
      .panel-footer.text-right(ng-if='job.status != "Cancel" && job.status != "Cancelled" && job.status != "Pending"')
        button.btn.btn-sm.btn-primary(
          ng-if="job.segmented && (job.status == 'Data Loaded' || job.status == 'Done')"
          ng-click="segment(job)"
        )
          | Segment
        button.btn.btn-sm.btn-danger(
          ng-click="confirmAndCancelJob(job._id, job.t_id)"
          ng-if="job.status != 'Done'"
        )
          span.glyphicon.glyphicon-trash &nbsp
          | Cancel Job

// SEGMENTS
.row(ng-show="isTab('segments')")
  .col-md-offset-2.col-md-8
    .panel.panel-default(ng-repeat="job in segment_data")
      .panel-heading
        .pull-right.text-info
          span.badge {{ job.t_id }}
        h3.panel-title {{ job.name }} :: {{ job.timestamp | date : 'MMM d yyyy, hh:mm a' }}
      .panel-body
        .row
          .col-sm-8
            p.text-muted {{ job.description }}
          .col-sm-4.text-right
            ul.list-unstyled(ng-if='job.count')
              li
                strong {{ job.count | number : 0 }}
                | &nbsp customers
              li
                strong {{ job.count / job.segments.length | number : 0 }}
                | &nbsp per segment
        .row
          .col-xs-offset-1.col-xs-10
            accordion
              accordion-group(
                ng-repeat="seg in job.segments"
              )
                accordion-heading
                  span.text-info
                    strong SEG {{seg.num}} ::&nbsp
                  |{{ seg.date | date : 'MMM d yyyy, hh:mm a' }}
                  span.pull-right {{ seg.status }}
                dl.dl-horizontal
                  dt Arabic content
                  dd {{ seg.arabic }}

                  dt Englsih content
                  dd {{ seg.english }}
